<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VALUE</title>
<style>
       body {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           margin: 0;
           background-color: #000000;
       }
       .center-text {
           font-size: 24px;
           color: #1ae5f3;
       }
</style>
</head>
<body>
<div class="center-text">DATA HAS BEEN SUCCESSFULLY STORED</div>
</body>
</html>